@page
@model PR.Pages.Reservations.SuccessfullyModel
@{
}

<div class="d-flex flex-column justify-content-center my-3 mt-4">
    <h6 class="fw-bold text-center">Book a table successfully</h6>
    <a class="btn btn-primary" href="/Index">Back to home page</a>
</div>